.mainBoxHome{
    display: flex;
    background-color: white; /* Tło kontenera na biało */
    max-height: 70vh;
    height: 100%;
    width: 100%; /* Szerokość kontenera na 100% */
    max-width: 75%; /* Maksymalna szerokość kontenera */
    padding: 20px; /* Padding wewnętrzny dla lepszego wyglądu */
    border-radius: 12px; /* Zaokrąglenie krawędzi kontenera */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Cień dla efektu głębi */
}
#mainContainerHome{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(21, 72, 75, 1);
    font-family: "Julee", cursive;
}

.graphBox{
    width: 50%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1200px-Placeholder_view_vector.svg.png); /*placeholder*/
}

.side{
    width: 50%;

    display: flex;
    flex-direction: column;
}

#titleHome {
    font-size: 13vb;
    margin-bottom: 20%;
}

.inputButtonHome{
    width: 50%;
    border: none; /* Bez obramowania */
    background-color: rgba(21, 72, 75, 1); /* Tło przycisku */
    color: white; /* Kolor tekstu przycisku */
    padding: 15px; /* Padding wewnętrzny przycisku */
    font-size: 18px; /* Rozmiar czcionki przycisku */
    border-radius: 25px; /* Zaokrąglenie krawędzi przycisku */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    text-align: center; /* Wyśrodkowanie tekstu */
    margin-top: 10px; /* Górny margines */
    transition: background-color 0.3s;
}

.inputButtonHome:hover{
    background-color: #005f63;
}

.icon-containerHome {
    display: flex; /* Użycie flexboxa do układu */
    justify-content: center; /* Wyśrodkowanie ikonek w poziomie */
    align-items: center; /* Wyśrodkowanie ikonek w pionie */
    margin: 20px 0; /* Odstępy od góry i dołu */
}

.moveToChat{
    text-align: center;
}
.moveToChat:hover{
    color: #3767ba;
}